<?xml version="1.0"?>
<robot name="bumperbot" xmlns:xacro="htpp://ros.org/wiki/xacro">
    <!-- Definimos el controller , que va a ser el control total del robot -->
    <ros2_control name="RobotSystem" type="system">
        <!-- Añadimos aqui los plugins que necesita si es humble , jazzy... -->
        <xacro:if value="$(args is_ignition">
            <hardware>
                <plugin>ign_ro2_control/ignition</plugin>
            </hardware>
        </xacro:if>
        <xacro:unless value="$(args is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>
        <joint name="wheel_right_joint">
            <!-- aqui podemos darle un valor maximo a la velocidad de las ruedas -->
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocityt" />
        </joint>
        <joint name="wheel_left_joint">
            <!-- aqui podemos darle un valor maximo a la velocidad de las ruedas -->
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocityt" />
        </joint>
    </ros2_control>
</robot>